body {
    background-color: rgb(71, 71, 71);
    color: #00ad17;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::selection {
    color: black;
    background-color: rgb(3, 177, 3);
}

/* Reset de estilos para quitar márgenes y relleno por defecto */
body, ul {
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #242323;
    color: rgb(255, 255, 255);
    padding: 25px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}

.nav-list button:hover {
    color: #038f26;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        margin-top: 10px;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*----------------------Diseño de la tabla*/
table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
}

th, td {
    padding: 10px;
    text-align: left;
    height: 100px;
}

tr {
    color: gray;
}

th {
    background-color: #000000;
}

tr:nth-child(odd) {
    background-color: #000000;
}

/* Aplicar sombra a todos los textos */
* {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
