/* Estilos para el selector */
.selector {
    background-color: #333;
    padding: 10px 0;
  }
  
  /* Estilos para la lista */
  .selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
  /* Estilos para cada elemento de la lista */
  .selector ul li {
    display: block;
}
  
  /* Estilos para los botones */
  .selector ul li button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    text-align: left; /* Alinea el texto a la izquierda dentro de los botones */
}
  
  /* Estilos al pasar el mouse por encima */
  .selector ul li button:hover {
    background-color: #555;
}

.container {
    display: flex;
}
  
